.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.album_col a {
  color: #2b2b2b;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important
}

.remove_btn {
    padding: 5px 8px;
    font-size: 20px;
    top: -3px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    cursor: pointer
}

.active>.page-link, .page-link.active {
    z-index: 3;
    color: #FFF;
    background-color: #123abc;
    border-color: #123abc;
}

.page-link {
    color: #123abc;
}

.btn_form {
    background-color: #123abc !important;
    color: #fff !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #123abc
}

.album_col, .photo_col {
  width: 20%;
}

.album_col i.bi-images {
  font-size: 60px;
  color: #70d1e6;
}

.photo_col {
  height: 220px;

}

.col_image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* padding: 30px; */
}

.back_link a {
  font-size: 14px;
  color: #123abc
}

.users_row {
  overflow-wrap: break-word;
}

.users_row a {
  text-decoration: none;
}

i.bi-person-circle {
  font-size: 90px;
  color: #123abc
}

.username {
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 700;
}

.email {
  font-size: 12px;
  color: #123abc
}


@media(max-width: 991px) {
  .spinner {
      margin-top: 50px;
  }

  .album_col, .photo_col {
    width: 50%;
  }
}

@media(max-width: 424px) {
  .photo_col {
    width: 100%;
  }
}

